body {
     background:#66ccff;
     margin: 0;
     padding: 0;
}
/*
div#nubesLejos{
     position:absolute;
     z-index:997;
     background:transparent url(../images/nubesLejos.png) 40% 0 repeat;
     margin:0;
     padding:0;
     width:100%;
     height:100%;
}

div#nubesCerca{
     position:absolute;
     z-index:998;
     background:transparent url(../images/nubesCerca.png) 150% 0 repeat;
     margin:0;
     padding:0;
     width:100%;
     height:100%;
}
*/
section#seccion1 {   
    background-image: url(../img/slide2.jpg);
    height: 600px;
    width: 1024px;
    margin: 0;
    padding: 0;
    /*width:100%;
    height:100%;*/
}

section#seccion2 {   
    background-image: url(../img/slide3.jpg);
    height: 600px;
    width: 1024px;
    margin: 0;
    padding: 0;
    /*width:100%;
    height:100%;*/
}